<!--
  Generated template for the ProduceChoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>My Produce</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--
 <button (click)="goToProducePage()" ion-button color="danger" block>
     Affirm Existing Shipment
  </button>
  <br>
  <br><br><br>
  <button (click)="goToCreateShipmentPage()" ion-button color="danger" block>
      Create New Shipment
   </button>

  -->
  <h1 text-center="">Shipments</h1>
  <br><br>
  <div id="suggestionDesc2" *ngIf="this.isLoggedIn==false">
    <p>Login or register first to view your produce:</p>
  </div>
  <div *ngIf="this.isLoggedIn==false">
    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input type="text" [(ngModel)]="this.userEmail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="this.userPw"></ion-input>
    </ion-item>
    <button ion-button (click)="registerUser()">Register</button>
    <button ion-button (click)="loginUser()">Login</button>

  </div>
  <div class="buttons" text-center="" *ngIf="this.isLoggedIn==true">
    <button (click)="goToProducePage()" ion-button color="danger">
      Confirm
    </button>

    <button (click)="goToCreateShipmentPage()" ion-button color="danger">
      Create
    </button>

  </div>


</ion-content>
