page-trace {

}

.line-break{
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal;
    font-family: Q !important;
  }

strong{
    font-family: Signika !important;
}

p{
    font-family: Q !important;
}

#title{
    font-family: Signika !important;
    font-size: 140%;
}